// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #03C0FF;
  font-family: Arial;
}

#container {
  width: 800px;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
}